* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --col-b: #000000;
  --text-color: #212121;
  --background-color: #2f303a;
  --button-color: #2196f3;
  --colr: #ffffff;
  --two-colr: #757575;
  --border-color: #eeeeee;
  --border-2: #ececec;
}
body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  color: var(--text-color);
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  color: var(--two-colr);

  text-decoration: none;
}
h4 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--text-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.line {
  border: 1px solid var(--border-2);
  height: 0px;
  margin-top: 0;
  margin-bottom: 94px;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 519px;
}
.navigation {
  display: flex;
  gap: 50px;
}
.navigation > li > a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--text-color);
}
.header-icon-envelope {
  width: 16px;
  height: 12px;
  fill: var(--two-colr);
  margin-right: 10px;
  margin-left: 0;
}
.header-icon-phone {
  width: 10px;
  height: 16px;
  fill: var(--two-colr);
  margin-right: 10px;
  margin-left: 0;
}
.header-email-phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--two-colr);
}
.header-email-phone:hover {
  color: var(--button-color);
}
.header-email-phone:hover .header-icon-envelope {
  fill: var(--button-color);
}
.header-email-phone:hover .header-icon-phone {
  fill: var(--button-color);
}
.navigation > li > a:hover,
.navigation > li > a:focus {
  color: var(--button-color);
}
.navigation > li > a:hover::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: var(--button-color);
  color: var(--button-color);
  width: 100%;
  height: 4px;
  left: 0;
  top: 45px;
  border-radius: 2px;
}
.gmail-number > li > a:hover,
.gmail-number > li > a:focus {
  color: var(--button-color);
}
.gmail-number {
  display: flex;
  gap: 50px;
}
.navigation > li > a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--text-color);
  position: relative;
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: auto;
  color: var(--color-b);
}
.Web {
  color: var(--button-color);
}
.button1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 73px;
  height: 38px;
  padding: 6px 25px 6px 25px;
  margin: 8px;
}
.button2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 125px;
  height: 38px;
  padding: 6px 22px 6px 22px;
  margin: 8px;
}
.button3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 112px;
  height: 38px;
  padding: 6px 22px 6px 22px;
  margin: 8px;
}
.button4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 103px;
  height: 38px;
  padding: 6px 22px 6px 22px;
  margin: 8px;
}
.button5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 130px;
  height: 38px;
  padding: 6px 22px 6px 22px;
  margin: 8px;
}
.nav-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
.nav-button > li > button:hover,
.nav-button > li > button:focus {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: var(--button-color);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colr);
}
.text-project {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 24px;
  padding-top: 20px;
}
.project-nav > li > div > p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--two-colr);
}
.project-nav > li {
  height: 404px;
}
.project-nav > li:hover,
.project-nav > li:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: var(--colr);
  border: 1px solid var(--border-color);
}
.project-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}
.project-nav > li {
  border: 1px solid var(--border-color);
}
.all-project {
  margin-bottom: 94px;
}
.social-networks-team {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 30px;
}
.container-social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.container-social-networks:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--button-color);
}
.container-social-networks:hover .social-networks-team-icon {
  fill: var(--colr);
}
.icon-team-a {
  display: flex;
}
.social-networks-team-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-feel);
}

.footer {
  display: flex;
  width: 100%;
  height: 252px;
  padding: 60px 215px;
  margin-top: 0;
  background-color: var(--background-color);
}
.logo-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--colr);
  margin-bottom: 20px;
}
.web-foot {
  color: var(--button-color);
}
.div-contact-logo {
  display: flex;
}
.div-contact-logo p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3%;
  line-height: 1.7;
  letter-spacing: 3%;
  color: var(--colr);
}
.div-contact-logo .contacts {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 9px;
}
.social-networks-footer .container-social-networks {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-networks-footer .container-social-networks:hover {
  background-color: var(--button-color);
}
.social-networks-footer {
  margin-top: 12px;
}
.social-networks-footer h4 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colr);
  margin-top: 0px;
  margin-bottom: 20px;
}
.social-networks-footer .social-networks-team-icon {
  fill: var(--colr);
}
