* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --col-b: #000000;
  --text-color: #212121;
  --background-color: #2f303a;
  --button-color: #2196f3;
  --colr: #ffffff;
  --two-colr: #757575;
  --team-color: #f5f4fa;
  --icon-feel: #afb1b8;
  --text-absolute: rgba(47, 48, 58, 0.8);
}
body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  color: var(--text-color);
  margin: 0 auto;
}
h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3%;
  line-height: auto;
  text-align: center;
  color: var(--text-color);
}
a {
  color: var(--two-colr);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 519px;
}
.navigation {
  display: flex;
  gap: 50px;
}
.nav-item > a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--text-color);
  position: relative;
}
.nav-item > a:hover::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: var(--button-color);
  color: var(--button-color);
  width: 100%;
  height: 4px;
  left: 0;
  top: 45px;
  border-radius: 2px;
}
.nav-item > a:hover,
.nav-item > a:focus {
  color: var(--button-color);
}
.header-icon-envelope {
  width: 16px;
  height: 12px;
  fill: var(--two-colr);
  margin-right: 10px;
  margin-left: 0;
}
.header-icon-phone {
  width: 10px;
  height: 16px;
  fill: var(--two-colr);
  margin-right: 10px;
  margin-left: 0;
}
.header-email-phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--two-colr);
  border: none;
  background-color: var(--colr);
}
.header-email-phone:hover {
  color: var(--button-color);
}
.header-email-phone:hover .header-icon-envelope {
  fill: var(--button-color);
}
.header-email-phone:hover .header-icon-phone {
  fill: var(--button-color);
}
.gmail-number {
  display: flex;
  gap: 50px;
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: auto;
  color: var(--col-b);
}
.Web {
  color: var(--button-color);
}
.order-service {
  height: 600px;
  padding: 200px 452px;
  margin-bottom: 119px;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./img/background\ png\ sq.jpg);
}
.order-service h1 {
  display: flex;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 6%;
  line-height: 1.3;
  color: var(--colr);
}
.button-1 {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 216px;
  padding: 10px 32px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 6%;
  line-height: 1.8;
  background-color: var(--button-color);
  color: var(--colr);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
}
.li-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 270px;
}
.div-icon-au {
  padding: 25px 100px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background: var(--team-color);
  margin-top: 0;
  margin-bottom: 30px;
}
.icon-about-us {
  width: 70px;
  height: 70px;
}
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 auto;
  gap: 30px;
  margin-bottom: 94px;
}
.about-us-descr h3 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3%;
  line-height: auto;
  color: var(--text-color);
  margin-bottom: 10px;
}
.about-us-descr p {
  width: 255px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3%;
  line-height: 1.7;
  color: var(--two-colr);
}
.about-us-sec {
  margin-top: 0;
  margin-bottom: 94px;
}
.what-we-do {
  margin-top: 0;
  margin-bottom: 188px;
}
.img-wd-item {
  position: relative;
  overflow: hidden;
  height: 294px;
}
.text-what-wd {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--text-absolute);
  width: 100%;
  height: 70px;
  padding: 27px 95px;
}
.text-what-wd h3 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colr);
  text-wrap: nowrap;
}
.images {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 188px;
}
.our-team {
  margin-top: 0;
  margin-bottom: 94px;
  padding-top: 92px;
  padding-bottom: 94px;
  height: 708px;
  background: var(--team-color);
}
.team {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.team > li {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: var(--colr);
  border-radius: 0 0 4px 4px;
}
.div-team-name {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 16px;
}
.div-team-name > h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: auto;
  color: var(--text-color);
}
.div-team-name > p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: auto;
  color: var(--two-colr);
}
.social-networks-team {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.container-social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.container-social-networks:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--button-color);
}
.container-social-networks:hover .social-networks-team-icon {
  fill: var(--colr);
}
.icon-team-a {
  display: flex;
}
.social-networks-team-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-feel);
}
.regular-customers {
  margin-top: 0;
  margin-bottom: 94px;
}
.title-customers {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
.regular-customers-div {
  display: flex;
  justify-content: space-between;
}
.customer-logo {
  width: 106px;
  height: 60px;
}
.customer {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}
.customer:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  cursor: pointer;
}
.customer:hover .customer-logo {
  fill: var(--button-color);
}
.customer-logo {
  fill: var(--icon-feel);
}
.footer {
  display: flex;
  width: 100%;
  height: 252px;
  padding: 60px 215px;
  margin-top: 0;
  background-color: var(--background-color);
}
.logo-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--colr);
  margin-bottom: 20px;
}
.web-foot {
  color: var(--button-color);
}
.div-contact-logo {
  display: flex;
}
.div-contact-logo p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3%;
  line-height: 1.7;
  letter-spacing: 3%;
  color: var(--colr);
}
.div-contact-logo .contacts {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 9px;
}
.social-networks-footer .container-social-networks {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-networks-footer .container-social-networks:hover {
  background-color: var(--button-color);
}
.social-networks-footer {
  margin-top: 12px;
}
.social-networks-footer h4 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colr);
  margin-top: 0px;
  margin-bottom: 20px;
}
.social-networks-footer .social-networks-team-icon {
  fill: var(--colr);
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.modal {
  position: relative;
  background-color: var(--colr);
  padding: 40px;
  border-radius: 4px;
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.is-hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
}
.butt-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--colr);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.d-butmodal {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
}
.title-modal {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 12px;
}
.form-modal {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 0;
  margin-bottom: 20px;
}
.form-modal > h6 {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--two-colr);
  margin-top: 0;
  margin-bottom: 4px;
}
.conditions-full {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 30px;
}
.check-modal {
  accent-color: var(--button-color);
}
.conditions {
  color: var(--button-color);
}
.inp-d-modal {
  display: flex;
  position: relative;
  align-items: center;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 10px;
}
.svg-inp {
  display: block;
  position: absolute;
  left: 12px;
}
.inp-modal {
  border: none;
  outline: none;
  display: block;
  position: absolute;
  width: 410px;
  left: -5px;
  margin-left: 40px;
}
